<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tsdev</title>
  <link rel="stylesheet" href="../css/login-register.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <div class="login-container">
    <form action="/login" class="form-container" method="post">
      <h1>ĐĂNG NHẬP</h1>
      <% if (messages.error) { %>
        <label class="alert alert-warning"><%= messages.error %></label>
      <% } %>
      <div class="field-container">
        <i class="fa-solid fa-envelope"></i>
        <input type="text" name="email" placeholder="">
        <label class="text-label">Email</label>
      </div>
      <div class="field-container">
        <i class="fa-solid fa-lock"></i>
        <input type="password" name="password" placeholder="">
        <label class="text-label">Password</label>
      </div>
      <div class="login-btn-container">
        <input type="submit" value="ĐĂNG NHẬP">
      </div>
      <div class="ref-container">
        <label>Chưa có tài khoản ? <a href="./register">Đăng ký</a></label>
      </div>
    </form>
  </div>
</body>
</html>