<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tsdev</title>
  <link rel="stylesheet" href="../css/styleGeneral.css">
</head>
<body>
  <div class="signInContainer">
    <form action="/signInUser" class="formContainer" method="post">
      <h1>ĐĂNG NHẬP</h1>
      <% if (typeof errors !== 'undefined') { %>
        <h2><%= errors %></h2>
      <% } %>
      <div class="emailContainer">
        <p>Email:</p>
        <input type="text" placeholder="Nhập Email" name="userEmail">
      </div>
      <div class="passwordContainer">
        <p>Password:</p>
        <input type="password" placeholder="Nhập password" name="userPassword">
      </div>
      <div class="signInBtnContainer">
        <input type="submit" value="ĐĂNG NHẬP">
      </div>
      <div class="refContainer">
        <p>Chưa có tài khoản ? <a href="./signup">Đăng ký</a></p>
      </div>
    </form>
  </div>
</body>
</html>