body{
  margin: 0;
}

.signInContainer,
.signUpContainer{
  border: 2px solid green;
  justify-items: center;
}

.formContainer{
  display: flex;
  align-items: center;
  border: 2px solid yellow;
  flex-direction: column;
  margin-top: 100px;
  width: 500px;
}

.usernameContainer,
.emailContainer, 
.passwordContainer,
.passwordRepeatContainer,
.signInBtnContainer,
.signUpBtnContainer,
.refContainer{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 10px;
}
.signUpBtnContainer input{
  width: 100px;
  text-align: center;
}

.signInBtnContainer input{
  width: 100px;
  text-align: center;
}